.navbar {
  position: flex;
  top: 0;
  width: 100%;
  height: 60px;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 25px;
  box-sizing: border-box;
  z-index: 1000;
  justify-content: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-left: auto;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  padding: 5px 10px;
  background-color: white;
  font-weight: bold;
  border-radius: 6px;
}

.nav-links li a:hover {
  background-color: gray;
  color: black;
}

#content {
  padding: 80px 20px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: auto;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #ff00de;
}

section {
  background: linear-gradient(90deg, #44bb91, #bb446e);
  color: white;
  text-align: center;
  padding: 60px 20px;
  border-radius: 10px;
}

.link-hero {
  background-color: white;
  color: #007bff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.link-hero:hover {
  background-color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 6px rgba(0, 123, 255, 0.7), 0 0 12px rgba(0, 123, 255, 0.5);
}
